---
import type { SingleTemplateProps as Props } from 'vite-wp/wordpress/templates';

const { Layout, title = 'Untitled post', content = '' } = Astro.props;
---
<Layout {...Astro.props}>
  <article>
    <h1>{title}</h1>
    <div set:html={content} />
  </article>
</Layout>
