---
interface Props {
  Layout?: any;
  title?: string;
  content?: string;
}

const { Layout, title = 'Untitled page', content = '' } = Astro.props;
---
<Layout {...Astro.props}>
  <article>
    <h1>{title}</h1>
    <div set:html={content} />
  </article>
</Layout>
